<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
<title>invoice_894778</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style type="text/css" media="screen">
.ppo{
	font-size: 10pt;
	color:indigo;
}


.urgent[ppo|="hho"]{
	background: silver;
	font-style: italic;
	font-weight: bold;
}

h1{
	border-style: solid;
}

h1 + h2{
	color: red;
	margin: 10px;
}

a:visited{
	color: black;
	font-style: italic;
}
a:link{
	color: green;
}

body td:hover{
	color: white;
}


</style>
</head>
<body>
<center>
<h1><strong>TAX INVOICE</strong></h1>

<h2>Sublime Text</h2>

<table cellpadding=10 style="border-style: solid; margin-bottom: 50px;">
<tr><td class="urgent" ppo="klklhho">Date payment received:</td><td>9 May 2018</td></tr>
<tr><td valign="top">Payment received from:<a href="http://www.baidu.com" "email me">email me</a></td><td>LiJiaKui



</td></tr>
<tr><td class="urgent" ppo="hhoer">Payment method:<a href="http://www.xxooop.com" "email me">email me</a></td><td>Credit Card</td></tr>
<tr><td>Total amount received:</td><td>$80 USD</td></tr>
<tr><td class="urgent" ppo="klhhokl">Tax:</td><td>$0 USD</td></tr>
<tr><td class="urgent" ppo="hho-9090">Invoice No:</td><td>894778</td></tr>
</table>

<table cellpadding=10 style="border-style: solid; margin-bottom: 50px;">
<tr>
    <th class="urgent" ppo="hho00">Description</th><th>Amount</th>
</tr>
<tr>
    <td class="urgent" ppo="klkl">1 x Sublime Text License Key</td>
    <td class="urgent" ppo="hho-ui">$80 USD</td>
</tr>
</table>

<div class="ppo urgent" ppo="hho">
License keys are issued by Sublime HQ Pty Ltd<br>
Level 1, 377 New South Head Rd Double Bay NSW 2028 Australia<br>
ABN 48 153 193 661<br>
</div>
</center>
</body>